.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.search-logo {
  height: 100px;
  line-height: 100px;
  color: blue;
  font-size: xx-large;
  font-weight: bolder;
}

.search-container {
  position: relative;
  width: 400px;
  margin: auto;
}

.search-input {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  padding: 0 10px;
}

.autocomplete-results-box {
  width: 100%;
  position: absolute;
  margin: auto;
  margin-top: 3px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 20px;
  box-shadow: 0 0 7px 3px lightgray;
}

.title-result-entry {
  display: flex;
  align-items: center;
  height: 40px;
  line-height: 40px;
  text-align: left;
}

.title-result-entry-selected {
  background-color: lightgray;
}

.entry-text {
  display: inline-block;
  margin: 0;
  margin-left: 5px;
  cursor: pointer;
  flex-grow: 1;
}

.history-entry-text {
  font-weight: bold;
  color: #c58af9
}

.search-metadata {
  text-align: left;
  margin-left: 50px;
  color: gray;
}

.result-entry {
  text-align: left;
  margin: 0 0 50px 50px;
  width: fit-content;
}

.result-title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 0;
}

.result-description {
  margin-top: 5px;
}

.remove-history-entry {
  margin-right: 10px;
  color: gray;
  text-align: right;
  cursor: pointer;
  z-index: 1000;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}